body {
  margin: 0px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 1px solid #5f9341;
}

button {
  background: #5f9341;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0px;
  color: white;
  font-weight: bold;
}

ul {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

li a {
  color: #5f9341;
}
